.keyTable {
    display: flex;
    flex-direction: row;
    color: var(--grey-text);
    font-size: 0.9rem;
}

.tableContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.valueTable {
    display: flex;
    flex-direction: row;
    color: var(--white-text);
}

.firstKey {
    width: 45%;
}

.changeValue {
    width: 15%;
}

.changeKey {
    width: 15%;
    text-align: end;
}

.costKey,
.valueKey {
    width: 20%;
    text-align: end;
}

.costValue {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 0.8rem;
}

.buttom {
    color: var(--grey-text);

}

.firstKeyContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.iconTable {
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--nav-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.keyTableRes {
    display: none;
}

@media only screen and (max-width: 450px) {
    .indvTableContent {
        display: flex;
        flex-direction: row;
        border: 1px solid var(--grey-text);
        padding: 10px;
        border-radius: 10px;
    }

    .keyTable {
        display: none;
    }

    .valueTableRes {
        flex-direction: column;
        gap: 30px;
        width: 60%;
        align-items: end;
    }

    .keyTableRes {
        width: 40%;
        flex-direction: column;
        align-items: flex-start;
        display: flex;
        font-size: 0.7rem;
        gap: 45px;
    }

    .keyTableRes {}

    .firstKeyContainer {
        justify-content: end;
    }

    .firstKey,
    .changeKey,
    .valueKey,
    .costKey {
        text-align: start;
        width: 100%;
    }

    .firstvalue,
    .costValues,
    .valueValue,
    .changeValue {
        text-align: end;
    }

    .firstValueRight {
        align-items: flex-start;
    }

    .changeValue {
        width: 70%;
    }

    .firstvalue {
        justify-content: end;
    }

    .buttom {
        font-size: 0.6rem;
    }

}


@media only screen and (max-width: 450px) {

    .iconTable {
        width: 25px;
        aspect-ratio: 1;
        font-size: 13px;
        height: 25px;

    }

    .buttom {
        font-size: 0.4rem;
    }


}