@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300&family=DM+Sans:opsz,wght@9..40,300&display=swap');

body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


:root {
  --nav-bg-color: rgb(29, 29, 29);
  --white-text: white;
  --grey-text: grey;
  --border-color: rgb(54, 54, 54);
  --dashboard-bg-color: #0f0f0f;
  --bg_Green_Color: rgba(2, 116, 69, 0.2);
  --main_green_Color: #17B169;
  --main_red_color: #FF0800;
  --bg_Red_Color: rgba(124, 10, 2, 0.3);
  --dashboardMiddle_Right_bg: rgb(40, 40, 40);
}